<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:fw="http://schemas.microsoft.com/wix/FirewallExtension">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="FirewallException" Guid="*">
        <fw:FirewallException Id="StratiGraphFW_TCP"
                              Name="StratiGraph Local Sync (TCP)"
                              Program="[INSTALLDIR]StratiGraph.exe"
                              Protocol="tcp"
                              Scope="any"
                              Profile="private"
                              IgnoreFailure="yes" />
        <fw:FirewallException Id="StratiGraphFW_UDP"
                              Name="StratiGraph Discovery (UDP)"
                              Program="[INSTALLDIR]StratiGraph.exe"
                              Protocol="udp"
                              Scope="any"
                              Profile="private"
                              IgnoreFailure="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
